body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 2em;
  background-color: white; /*whitesmoke;*/
  text-align: center;
}

h1 {
	border-top-width: 1px;
	font-size: 2.5em;
}

#container {
	position: relative;
	top: 30px;
	/*outline:2px solid #000;
	font-size: 0;*/
	margin:auto;
	height:250px;
	width:250px;
	padding: 0;
	border: none;
}

.cell {
	border:1px solid #000;
	/*outline:1px solid #000;*/
	display:inline-block;
}

.cell:active {
	background-color: black;
	border:1px solid red;
	/*outline:1px solid #000;*/
	display:inline-block;
}

